.generate-layer {
    width: 40vw;
    min-width: 600px;
    display: grid;
    grid-template-columns: 10fr 2fr 1fr 2fr 1fr;
    align-items: center;
    gap: 1em;
    position: relative;
    margin: auto;
}

.generate-layer label {
    font-weight: bold;
    font-size: 1.2em;
}