.generate-layer {
    max-width: 90%;
    min-width: 40vw;
    display: grid;
    grid-template-columns: 10fr 100px 1fr 2fr 1fr;
    align-items: center;
    gap: 1em;
    position: relative;
    margin: auto;
}

.generate-layer label {
    font-weight: bold;
    font-size: 1.1em;
}

.generate-layer input {
    height: 60%;
}

@media (max-width: 700px) {
    .generate-layer {
        grid-template-columns: 100px 1fr 1fr 1fr;
    }

    .generate-layer > :first-child {
        grid-column: 1 / -1;
    }
}
