.progress-track {
    height: 30px;
    background-color: #f9f9f9;
    overflow: hidden;
    position: relative;
}

.progress-fill {
    height: 100%;
    background-color: #4ae07d;
    transition: with 0.25s ease;
}

.progress-track, .progress-fill {
    border-radius: 20px;
}

span {
    position: absolute;
    font-weight: bold;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media (prefers-color-scheme: light) {
    .progress-track {
        background-color: #dbe0e4;
    }
}
