button {
  height: 40px;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #f9f9f9;
  cursor: pointer;
  transition: border-color 0.25s;
  position: relative;
}

button:disabled {
  cursor: not-allowed;
}

button:hover {
  border-color: orange;
}

button img {
  height: 100%;
}

button.cancel, button.generate {
  color: white
}

button.cancel {
  background-color: #f55959;
}

button.generate {
  background-color: #4577f6;
}
